{
    "method": "GET",
    "endpoint": "/auth/realms/note",
    "backend": [
      {
        "host": [
          "http://note_auth:8080"
        ],
        "url_pattern": "/auth/realms/note"
      }
    ]
},
{
    "method": "POST",
    "endpoint": "/token",
    "backend": [
      {
        "host": "http://note_auth:8080",
        "url_pattern": "/auth/realms/note/protocol/openid-connect/token"
      }
    ]
}