{
    "method": "POST",
    "endpoint": "/auth/token",
    "backend": [
      {
        "host": "http://note_auth:8080",
        "url_pattern": "/auth/realms/note/protocol/openid-connect/token"
      }
    ]
}